<launch>
    <arg name="use_legacy_localization" default="False"/>
    <arg name="use_slam_localization" default="False"/>
    <group unless="$(eval arg('use_legacy_localization')">
        <node pkg="xbot_positioning" type="xbot_positioning" name="xbot_positioning" output="screen" required="true">
            <remap from="~imu_in" to="/imu/data_raw"/>
            <remap from="~wheel_ticks_in" to="/mower/wheel_ticks"/>
            <remap from="~xb_pose_in" to="xbot_driver_gps/xb_pose"/>
            <remap from="~xb_pose_out" to="xbot_positioning/xb_pose"/>
            <param name="max_gps_accuracy" value="0.2"/>
            <param name="antenna_offset_x" value="$(env OM_ANTENNA_OFFSET_X)"/>
            <param name="antenna_offset_y" value="$(env OM_ANTENNA_OFFSET_Y)"/>
        </node>
    </group>
    <group if="$(arg use_slam_localization)">
            <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0 0 0 0 base_link laser 50" />
           <node name="LD19" pkg="ldlidar_stl_ros" type="ldlidar_stl_ros_node" output="screen" required="true">
            <param name="product_name" value="LDLiDAR_LD19"/>
            <param name="topic_name" value="/scan"/>
            <param name="frame_id" value="lidar_link"/>
            <param name="port_name" value ="/dev/lidar"/>
            <param name="port_baudrate" value ="230400"/>
            <!-- Set laser scan directon: -->
            <!--    1. Set counterclockwise, example: <param name="laser_scan_dir" type="bool" value="true"/> -->
            <!--    2. Set clockwise,        example: <param name="laser_scan_dir" type="bool" value="false"/> -->
            <param name="laser_scan_dir" type="bool" value="true"/>
            <!-- Angle crop setting, Mask data within the set angle range -->
            <!--    1. Enable angle crop fuction: -->
            <!--       1.1. enable angle crop,  example: <param name="enable_angle_crop_func" type="bool" value="true"/> -->
            <!--       1.2. disable angle crop, example: <param name="enable_angle_crop_func" type="bool" value="false"/> -->
            <param name="enable_angle_crop_func" type="bool" value="false"/>
            <!--    2. Angle cropping interval setting, The distance and intensity data within the set angle range will be set to 0 -->
            <!--       angle >= "angle_crop_min" and angle <= "angle_crop_max", unit is degress -->
            <param name="angle_crop_min" type="double" value="135.0"/>
            <param name="angle_crop_max" type="double" value="225.0"/>
         </node>
        <node pkg="tf" type="static_transform_publisher" name="laser_to_base_link" args="0 0 0 0 0 0 base_link laser 100" />

        <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" respawn="false">
            <param name="base_frame" value="base_link"/>
            <param name="odom_frame" value="odom"/>
            <remap from="scan" to="/scan"/>
        </node>
        <node name="amcl"
        pkg="amcl"
        type="amcl"
        clear_params="true" output="screen" required="true">
            <rosparam command="load" file="$(find open_mower)/params/slam/amcl.yaml" />
        </node>
    </group>
    <group if="$(arg use_legacy_localization)">
        <node pkg="mower_logic" type="mower_odometry" name="mower_odometry" output="screen" required="true">
            <param name="imu_offset" value="$(env OM_IMU_OFFSET)"/>
            <param name="gps_antenna_offset" value="$(env OM_GPS_ANTENNA_OFFSET)"/>
            <param name="use_relative_position" value="$(env OM_USE_RELATIVE_POSITION)"/>
            <param name="use_f9r_sensor_fusion" value="$(optenv OM_USE_F9R_SENSOR_FUSION False)"/>
            <param unless="$(env OM_USE_RELATIVE_POSITION)" name="datum_lat" value="$(env OM_DATUM_LAT)"/>
            <param unless="$(env OM_USE_RELATIVE_POSITION)" name="datum_long" value="$(env OM_DATUM_LONG)"/>
            <remap from="xbot_driver_gps/imu" to="driver_gps_node/imu"/>
            <remap from="xbot_driver_gps/xb_pose" to="driver_gps_node/xb_pose"/>
        </node>

        <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node" required="true"
              unless="$(optenv OM_USE_F9R_SENSOR_FUSION False)">
            <param name="publish_tf" value="false"/>
            <param name="mag_bias_x" value="$(env OM_MAG_BIAS_X)"/>
            <param name="mag_bias_y" value="$(env OM_MAG_BIAS_Y)"/>
            <param name="mag_bias_z" value="$(env OM_MAG_BIAS_Z)"/>
            <param name="orientation_stddev" value="0.0"/>
            <param name="zeta" value="0.0"/>
            <param name="gain" value="$(env OM_IMU_FILTER_GAIN)"/>
        </node>
    </group>
</launch>
